<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распределение Характеристик</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Распределение Характеристик для {{ character.name }}</h1>
    <form method="POST" action="{{ url_for('choose_class') }}">
        <input type="hidden" name="name" value="{{ character.name }}">
        <input type="hidden" name="race" value="{{ character.race }}">

        <p>Случайные значения характеристик: {{ abilities }}</p>
        <label for="strength">Сила:</label>
        <select name="strength" id="strength" required>
            {% for ability in abilities %}
            <option value="{{ ability }}">{{ ability }}</option>
            {% endfor %}
        </select>
        <br>
        <!-- Добавь остальные атрибуты -->

        <button type="submit">Далее</button>
    </form>
</body>
</html>